{% extends 'base/base.html.twig' %}
{% block title %}Password Reset{% endblock %}

{% block body %}
    <h1 class="mb-4">Password Reset</h1>

    {{ form_start(form) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.email) }}
    {{ form_row(form.old_password) }}
    {{ form_row(form.new_password) }}
    <div class="d-grid">
        <button type="submit" class="btn btn-success mt-4">Save new Password</button>
    </div>
    {{ form_end(form) }}

{% endblock %}



