<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<meta name="description" content="Portfolio de Yohann Hommet, dDéveloppeur Junior Backend PHP / Symfony.">
		<title>{% block title 'Portfolio de Yohann Hommet' %}</title>

		{% block stylesheets %}
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous"/>
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	
	</head>
	<body class="position-relative" style="min-height: 100vh">

		{{ include('_partials.html.twig/_navbar.html.twig') }}

		{{ include('_partials.html.twig/_flash_messages.html.twig') }}

		<main role="main" class="container-fluid my-lg-4 my-md-3 my-sm-3" style="height: 110%">
			{% block body %}{% endblock %}
		</main>

		{% block footer %}
			{{ include('_partials.html.twig/_footer.html.twig') }}
		{% endblock %}

	</body>
</html>